/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
AUTHOR : Vijayan PP
PROJECT : Nim-MUTLIT PURPOSE LANDING PAGE TEMPLATE
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	INDEX
++++++++++++++++++++++++++++++++++++++++++++++++++++++
	1> IMPORT FONTS
	2> RESET
	3> GENERAL
        4> TYPOGRAPHY
        5> BUTTON
        6> PRELOADER
	7> NAVIGATION
        8> MAIN HEADER
        9> ABOUT US
       10> OUR WORKS
       11> OUR TEAM
       12> INSPIRATION
       13> TESTIMONIAL
       14> OUR STATS      
       15> SERVICES
       16> CONTACT US
       17> SITE-FOOTER
       18> ANIMATION

       
-------------------------------------------------------*/





/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	IMPORT FONTS
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@import url('http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	GENERAL
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/




body{
	background-color: #333;
}





























/*	RAMSH-STYLE STARTS HERE
------------------------------*/
 
/* Navigation */
.nim-menu{
	padding: 10px;
	transition: all 0.8s;
        background:#000;
        border-bottom:none;
        transition:all 0.4s ease-in;
        -webkit-transition:all 0.4s ease-in;
        -moz-transition:all 0.4s ease-in;
        -ms-transition:all 0.4s ease-in;
         
}

.nim-menu a.navbar-brand {
text-transform: uppercase;
font-size: 1.5em;
font-weight: 900;
color:#fff;
}



.nim-menu.navbar-default .navbar-nav > li > a {
	
	color: #fafafa;
	letter-spacing: 1px;
        font-size:.73em;
       //text-shadow:1px 0px rgba(0,0,0,0.5);
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	
	background-color: transparent;
	font-weight: 700;
        
}

.navbar-toggle {
	border-radius:20%;
        transition:all 1s;
        
	}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	box-shadow:2px 2px 3px 3px rgba(0,0,0,0.4);
        -webkit-box-shadow:2px 2px 3px 3px rgba(0,0,0,0.4);
        -moz-box-shadow:2px 2px 3px 3px rgba(0,0,0,0.4);
        -ms-box-shadow:2px 2px 3px 3px rgba(0,0,0,0.4);
	}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
	}
        
        
       
/*	MAIN HEADING
------------------------------*/



.main-heading
{
   background: url(../images/main.jpg) center center no-repeat;
	background-size:cover;
	background-attachment: fixed;
	color: #cfcfcf;
        margin-top:40px;
}

.overlay{
	
        height:auto;
        height:100%;
        position:relative;
}

.main-heading >.overlay
{
    height: 750px;
}



.main-heading-content {
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;

}